name: Build And Test Corrected Workflow

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    # runs the workflow every day at 12:00 UTC
    - cron: '0 12 * * *' 
    # runs the workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      run_tests:
        description: 'Run tests as well?'
        required: true
        default: 'true'
        type: boolean

jobs:

  build:

    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build project
      run: dotnet build --no-restore

    - name: Run tests
      run: dotnet test --no-build --verbosity normal

    - name: Upload Test Results Artifact
      uses: actions/upload-artifact@v4
      with:
        name: execution_results
        path: bin/Debug/net10.0/TestResults/execution_results_report.html
        overwrite: true
      if: always() 
  